version: '3.3'

services:
  web:
    build: ./WebClient/
    command: yarn start
    volumes:
      - './WebClient/src/:/usr/basket-app/src'
    ports:
      - "3000:3000"

  mongodb:
    image: mongo
    ports:
      - "27017:27017"
  
  mongodb-seed:
    build: ./Services/Movement
    depends_on:
      - mongodb
